body{
    background-color:gray;
    color:white;
}
.im{
    height:60px;
}
.but{
    background-color:transparent;
    border : 5px solid white;
    height : 120px;
    width : 120px; 
    margin : 20px;
    border-radius: 60px;
    cursor : pointer;
}
.resst{
    font-size: 18px;
    font-weight : bold;
    margin : 5px;
}
.scst{
    margin-top : 50px;
}
.set,
.ap{
    background-color:white;
    font-size: 20px;
    padding: 10px;
    cursor:pointer;
}
.set:hover {
  background-color: burlywood; /* change to whatever color you want */
}
.but:hover{
    background-color: black;
}
.ap:hover{
    background-color: burlywood; 
}
